.vignettes_global{
    h2{
        margin-left: 15%;
    }
    .ligne_1, .ligne_2{
        .vignette{
            margin-left: 15%;
            width: 30%;
            .new{
                left:300px;
            }
        }
    }
}

footer{
    .texte_footer{
        width: 90%;
    }
}