.bouton_commander {
  font-size: x-large;
  width: 30%;
  height: 50px;
  margin-left: 40%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

.retour_logo {
  font-size: x-large;
}

.loading_spinner {
  height: 1200px;
}

.load {
  font-size: 200px;
}

header h1 {
  font-size: 100px;
}

header p {
  font-size: 40px;
}

header .zone_recherche {
  padding-left: 40%;
  height: 80px;
}

header .zone_recherche > input {
  font-size: 30px;
  padding-top: 2%;
}

header .zone_recherche .map {
  font-size: 30px;
}

header .image_restaurant {
  height: 800px;
}

header p + input {
  font-size: x-large;
  width: 40%;
  margin-left: 30%;
  height: 70px;
  padding-top: 0;
  padding-bottom: 0%;
}

header .logo {
  padding-top: 5%;
}

header .retour_logo {
  font-size: 50px;
}

header .retour_logo .logo {
  padding-top: 5%;
}

.bloc_filtre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3%;
}

nav > h2 {
  font-size: 40px;
  margin-bottom: 2%;
  margin-left: 3.5%;
}

nav .filtre {
  font-size: 40px;
  padding-left: 3%;
  height: 100px;
  width: 100%;
  margin-left: 0;
}

nav .filtre p {
  padding-right: 5%;
}

nav span {
  left: 2%;
  top: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  font-size: 35px;
}

.vignettes_global {
  padding-bottom: 3%;
}

.vignettes_global > h2 {
  padding-top: 5%;
  font-size: 40px;
  margin-left: 3.5%;
}

.vignettes_global .ligne_1, .vignettes_global .ligne_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3%;
}

.vignettes_global .ligne_1 .vignette, .vignettes_global .ligne_2 .vignette {
  height: 500px;
}

.vignettes_global .ligne_1 .vignette img, .vignettes_global .ligne_2 .vignette img {
  height: 350px;
}

.vignettes_global .ligne_1 .vignette .new, .vignettes_global .ligne_2 .vignette .new {
  left: 850px;
  bottom: 450px;
  width: 12%;
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 35px;
}

.titre_restaurant {
  font-size: 80px;
}

.menu .categorie {
  margin-top: 0;
}

.menu .categorie .liste_cartes {
  margin-top: 3%;
}

.menu .categorie .liste_cartes .carte:hover > .block_check {
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}

.menu .categorie .liste_cartes .carte:hover .prix {
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
}

.menu .categorie .liste_cartes .carte:hover .check {
  font-size: 80px;
}

.menu .categorie .liste_cartes .carte .carte_sans_check > .titre_plat {
  font-size: 50px;
}

.menu .categorie .liste_cartes .carte .carte_sans_check .legende_prix .sous_titre {
  font-size: 30px;
}

.menu .categorie .liste_cartes .carte .carte_sans_check .legende_prix .prix {
  font-size: 35px;
}

.check {
  color: red;
}

.titre_coeur_page_restaurant .coeur {
  font-size: 50px;
}

.rubrique {
  font-size: 40px;
}

.boite_rubrique {
  width: 4.5%;
}

.titre_coeur p {
  font-size: 40px;
}

.titre_coeur + p {
  font-size: 30px;
}

.texte_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 3%;
  margin-left: 3%;
}

footer {
  text-align: center;
  font-size: 45px;
  padding-left: 0%;
  padding-top: 5%;
  padding-bottom: 5%;
}

footer h3 {
  font-size: 80px;
  margin-bottom: 2%;
}

footer .texte_icone {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .texte_icone p {
  margin: 0;
  margin-left: 20px;
}

footer #legende_1 {
  margin-left: 20px;
}
/*# sourceMappingURL=styles-resolution-1450+px.css.map */