
.bouton_commander{
    font-size: x-large;
    width: 30%;
    height: 50px;
    margin-left: 40%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.retour_logo{
    font-size: x-large;
}

header{
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }
    .zone_recherche{
        padding-left: 40%;
    }
    .image_restaurant{
        height: 500px;
    }
    p + input{
        font-size: x-large;
        width: 40%;
        margin-left: 30%;
        height: 50px;
        padding-top: 0;
        padding-bottom: 0%;
    }
    .logo{
        padding-top: 5%;
    }
    .retour_logo{
        .logo{
            padding-top: 5%;
        }
    }
}
.bloc_filtre{
    display: flex;
    margin-right: 3%;
}

nav{
    >h2{
        font-size: 40px;
        margin-bottom: 2%;
        margin-left: 3.5%;
    }
    .filtre{
        font-size: 20px;
        padding-left: 3%;
        height: 70px;
        width: 100%;
        margin-left: 0;
        p{
            padding-right: 5%;
        }
    }
    span{
        left:2%;
        top:0;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        font-size: 25px;
    }
}

.vignettes_global{
    padding-bottom: 3%;
    >h2{
        padding-top: 5%;
        font-size: 40px;
        margin-left: 3.5%;
    }
    .ligne_1, .ligne_2{
        display: flex;
        margin-right: 3%;
        .vignette{
            height: 300px;
            img{
                height: 200px;
            }
            .new{
                left:370px;
                bottom:270px;
                width: 15%;
                padding-left: 2%;
            }
        }
    }
}
.titre_restaurant{
    font-size: 50px;
}

.menu{
    .entrees, .plats, .desserts{
    margin-top: 0;
        .cartes_entrees, .cartes_plats, .cartes_desserts{
            margin-top: 3%;
            .carte{
                &:hover >.block_check{
                transform: translateX(-300%);
                }
                &:hover .prix{
                    transform: translateX(-250%)
                }
                .carte_sans_check{
                    >.titre_plat{
                        font-size: x-large;
                    }
                    .legende_prix{
                        .sous_titre{
                            font-size: large;
                        }
                        .prix{
                            font-size: medium;
                        }
                    }
                }
            }
        }
    }
}

.titre_coeur_page_restaurant{
    .coeur{
        font-size: 50px;
    }
}
.rubrique{
    font-size:x-large;
}
.boite_rubrique{
    width: 8%;
}
.titre_coeur{
    p{
        font-size: 20px;
    }
    +p{
        font-size: 15px;
    }
}
footer{
    text-align: center;
    font-size: 20px;
    h3{
        font-size: 80px;
    }
    .texte_icone{
        justify-content: center;
    }
    #legende_1{
        margin-left: 2%;
    }
}