@font-face {
    font-family: 'robotoregular';
    src:url('/font/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
        url('/font/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff');
}
@font-face {
    font-family:'Shrikhand-Regular';
    src: url('/font/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}
$primary-color:#9356DC;
$secondary-color: #FF79DA;
$tertiary-color:#99E2D0;

/*Mixin des boutons*/
@mixin bouton{
    border-radius: 20px;
    width: 60%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 19%;
    background: linear-gradient($secondary-color, $primary-color);
    color: white;
    font-weight: bold;
    border:none;
}

@mixin footer{
    background-color: rgb(39, 38, 38);
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 7%;
    h3{
        font-family: 'Shrikhand-Regular';
        margin:0;
        margin-bottom: 5%;
    }

    .texte_icone{
        display: flex;
        align-items: center;
        p{
            margin:2%;
        }
    }
    .texte_seul{
        margin: 2% 0;
    }
}

a{
    text-decoration: none;
    color:black;
}
footer{
    a{
        color: white;
    }
}
body
{
    font-family: 'robotoregular';
    margin:auto;
}
.header_sans_titre{
    background-color: whitesmoke;
    padding-bottom: 10%;
}
header{
    .logo{
        padding-top:10%;
        padding-bottom: 3%;
        width: 60%;
        padding-left: 20%;
        background-color: white;
    }
    .zone_recherche{
        box-shadow: 0px -2px 2px grey;
        padding-left: 30%;
        background-color: rgb(229, 226, 226);
        input{
            border:none;
            padding-left: 3%;
            height: 50px;
            background-color: rgb(229, 226, 226);
        }
    }
    h1{
        text-align: center;
        font-weight: 1000;
        padding-left: 6%;
        padding-right: 5%;
        font-size: x-large;
        margin-bottom: 1%;
    }
    p{
        font-weight: 1;
        font-size: small;
        padding-left: 1%;
        padding-right: 4%;
        text-align: center;
    
        +input{
            @include bouton;
        }
    }
}

nav{
    >h2{
        margin-left: 3%;
        margin-bottom: 0%;
    }
    span{
        border-radius: 50%;
        border: #9356DC solid;
        background-color: #9356DC;
        color:white;
        padding-left: 4px;
        padding-right: 4px;
        font-size: x-small;
        position: relative;
        top:35px;
        left: 10px;
    }
    .filtre{
        display: flex;
        align-items: center;
        font-size: small;
        margin-left: 7%;
        height: 55px;
        padding-left: 5%;
        border-radius: 20px;
        width: 83%;
        background-color: whitesmoke;
        box-shadow: 1px 1px 8px rgb(202, 199, 199);
        &:active{
            background-color: #e0d4f0;
            .icone{
                color:#aa8ad4;
            }
        }
       
        >p{
            margin-left: 5%;
        }
    }
}

.vignettes_global{
    width: 100%;
    background-color: #F2F2F2;
    padding-bottom: 10%;
    >h2{
        padding-top: 10%;
        margin-bottom:3%;
        margin-left: 4%;
    }
    .vignette{
        box-shadow: 2px 2px 7px grey;
        width: 92%;
        border-radius: 20px;
        margin-left: 4%;
        margin-bottom: 4%;
        height: 220px;
        a{
            text-decoration: none;
            color:black;
        }
    }
}
.titre_coeur{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 3%;
    +p{
        font-weight: lighter;
        margin-left: 3%;
        font-size: small;
        margin-top: 0;
    }
    >p{
        font-weight: bold;
        margin-top:2%;
        margin-left: 3%;
        margin-bottom: 1%;
    }
}
.vignette {
    img{
        width: 100%;
        border-radius: 20px 20px 0 0;
        height: 150px;
    }

    .new{
        border:#99E2D0 solid;
        width: 25%;
        font-weight: bold;
        background-color: #99E2D0;
        color: rgb(57, 128, 100);
        padding-left: 3%;
        position:relative;
        left:195px;
        bottom:200px;
    }
}


footer{
    @include footer;
}

.titre_coeur_page_restaurant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Shrikhand-Regular';
    font-size: x-large;
    margin-bottom: 5%;
    padding-right: 5%;
}

header{
    .image_restaurant{
        width: 100%;
    }
}
/*page globale sans l'image*/
.menu{
    border-radius: 30px 30px 0 0;
    padding-top: 10%;
    background-color: whitesmoke;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 10%;
   
    .entrees, .plats, .desserts{
        /*Toutes les cartes entrées + plat + dessert*/
        .carte{
            background-color: white;
            margin-bottom: 4%;
            border-radius: 15px;
            height: 70px;
            /*Les noms des plats*/
            p{
                font-size: medium;
                font-weight: bold;
                margin-bottom: 1%;
                padding-top: 3%;
                margin-left: 3%;
            }
            /*Le texte en dessous du nom des plats + le prix*/
            .legende_prix{
                display: flex;
                align-items:center;
                justify-content: space-between;
                /*uniquement le texte sous le nom des plats*/
                >p{
                    font-size: small;
                    padding-top: 0;
                    margin-top: 0;
                }
                /*uniquement le prix*/
                span{
                    font-weight: bold;
                    padding-right: 5%;
                    font-size: small;
                }
            }
        }
    }
}
/*Les mots Entrees / Plats et Desserts */
.rubrique{
    border-bottom: #99E2D0 solid;
    font-weight: 100;
    margin-left: 2%
}
/*Le bouton commander*/
.bouton_commander{
    @include bouton;
    margin-top: 7%;
    margin-bottom: 3%;
}