$primary-color:#9356DC;
$secondary-color: #FF79DA;
$tertiary-color:#99E2D0;
$secondary-color-clair:#fcb4e7;
$primary-color-clair:#c4a1ee;
$coeur_plein: linear-gradient($primary-color,$secondary-color);
